<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="../static/style.css"/>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript" type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'category');
          data.addColumn('number', 'amount');
          var chartData = [[${chartData}]];
          console.log(chartData);
          console.log(chartData[0].category);
          data.addRows(chartData);
          var options = {
              'width':600,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
  </script>

          <title>My budget</title>

</head>

<body>
<input type="hidden" id="yourId" th:value="${budgets}">
<h1 style="text-align: center; font-weight: bolder; font-size: 30pt; font-family: fantasy">My budget</h1>
<div style="text-align: center; margin-top: 20pt">
  <button><a style="text-decoration: none; font-size: 14pt; color: #119b00" href="/revenue" class="nav-link">My revenue</a>
  </button>
</div>
<form action="/budget" method="post" enctype="multipart/form-data"><br>
  <div style="text-align: center">
    <input type="text" list="category" name="category"/>
    <datalist id="category">
      <option th:each="el : ${categories}" th:value="${el}">
    </datalist>
    <input type="number" placeholder="amount" id="amount" name="amount">
    <input type="text" placeholder="description" id="description" name="description">
    <button type="submit">Add record</button>
  </div>
</form>
<br><br>

<div style="text-align: center">
<table style="display: inline-block; border: 1px solid grey;" th:each="el : ${budgets}">
  <td  th:text="${el.category}"/>
  <td  th:text="${el.date}"/>
  <td style="border: 1px solid grey; width: 50px " th:text="${el.amount}"/>
  <td  th:text="${el.description}"/>
  <td> <a th:href="'/budget/'+ ${el.id}">Edit</a></td> <br>
</table>

  <div id="chart_div" style="margin: 0 auto; width:600px; height:500px"></div>
</div>

</body>
</html>