<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="/static/style.css"/>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript" type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'category');
          data.addColumn('number', 'amount');
          var chartData = [[${chartData}]];
          console.log(chartData);
          console.log(chartData[0].category);
          data.addRows(chartData);
          var options = {
              'width':600,
              'height':500};
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);

      }
  </script>

          <title>My budget</title>
</head>

<body style="background-color: rgba(91,138,64,0.81)">
<input type="hidden" id="yourId" th:value="${budgets}">

<form  action="/revenue" style="position: fixed; margin-left: 20px">
  <button class="button" style="background-color: #119b00; margin-top: 70px"  type="submit"> My revenue </button>
</form>


<form  action="/" style="position: fixed; margin-left: 45px">
  <button class="button" style="background-color: rgb(255,113,24)" type="submit"> Home </button>
</form>

<h1 style="text-shadow: beige; font: italic small-caps bold 60px/2 cursive; text-align: center;">My budget</h1>

<form  action="/budget" method="post" enctype="multipart/form-data"><br>
  <div style="text-align: center">
    <input style="height: 30px; border-radius: 10px"type="text" placeholder="category" list="category" name="category"/>
    <datalist id="category">
      <option th:each="el : ${categories}" th:value="${el}">
    </datalist>
    <input style="height: 30px; border-radius: 10px" type="number" placeholder="amount" id="amount" name="amount">
    <input style="height: 30px; border-radius: 10px" type="text" placeholder="description" id="description" name="description">
    <button class="button" type="submit">Add record</button>
  </div>
</form>
<br><br>

<div style="text-align: center">
<table style="display: inline-block;  border-radius: 30px; background-color: rgba(246,104,26,0.76)">
  <tr style="width: 120px"  th:each="el : ${budgets}">
  <td style="width: 120px" th:text="${el.category}"/>
  <td style="width: 120px" th:text="${el.date}"/>
  <td  style="width: 120px" th:text="${el.amount}"/>
  <td  th:text="${el.description}"/>
  <td style="width: 120px"> <a th:href="'/budget/'+ ${el.id}">Edit</a></td>
    </tr><br>
</table>
  <br><br>

  <div id="chart_div" style="margin: 0 auto; width:600px; height:500px"></div>
</div>

</body>
</html>