<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<head>
  <title>Home Budget v1.0</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="specHm">
<h1 style="text-shadow: 3px 3px 3px beige; color: #359118; font: italic small-caps bold 100px/2 cursive; text-align: center; margin-top: 10%">Welcome to "Home Budget" </h1>
<br><br>

<form action="/registration">
  <button class="button-53" type="submit"> Registration </button>
</form>
<br><br><br>
<form action="/login">
  <button class="button-53" style="background-color: green" type="submit"> Login </button>
</form>
<br><br><br>
<form action="/budget">
  <button class="button-53" style="background-color: darkorange" type="submit"> My budget </button>
</form>
</body>
