<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css"/>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript" type="text/javascript">
      google.charts.load('current', {'packages': ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'revenueCategory');
          data.addColumn('number', 'revenueAmount');
          var chartData = [[${chartData}]];
          console.log(chartData);
          console.log(chartData[0].revenueCategory);
          data.addRows(chartData);
          var options = {
              'width': 600,
              'height': 500
          };
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
      $(function () {
          $(".journal tr:first td").each(function (indx) {
              var sum = 0;
              $("td:nth-child(" + (indx + 1) + ")", ".journal").each(function () {
                  sum += +$(this).text()
              });
              $("<td/>", {text: sum}).appendTo("#test")
          });
      })
  </script>

  <title>My revenue</title>
</head>
<body>
<input type="hidden" id="yourId" th:value="${revenues}">
<h1 style="text-align: center; font-weight: bolder; font-size: 30pt; font-family: fantasy">My revenue</h1>
<div style="text-align: center; margin-top: 20pt">
  <button><a style="text-decoration: none; font-size: 14pt; color: rgb(255,155,155)" href="/budget" class="nav-link">My
    budget</a>
  </button>
</div>
<form action="/revenue" method="post" enctype="multipart/form-data"><br>
  <div style="text-align: center">
    <input type="text" list="revenueCategory" name="revenueCategory"/>
    <datalist id="revenueCategory">
      <option th:each="el : ${revenueCategories}" th:value="${el}">
    </datalist>
    <input type="number" placeholder="revenueAmount" id="revenueAmount" name="revenueAmount">
    <input type="text" placeholder="revenueDescription" id="revenueDescription" name="revenueDescription">
    <button type="submit">Add record</button>
  </div>
</form>
<br><br>
<div style="text-align: center">
  <table id='test'
         style="display: inline-block; align-content: center;  background-color: rgba(37,183,21,0.68);width: auto; height: auto">
    <tr style="width: 120px" th:each="el : ${revenues}">
      <td style="width: 120px" th:text="${el.revenueCategory}"/>
      <td style="width: 120px" th:text="${el.date}"/>
      <td style="width: 120px" th:text="${el.revenueAmount}"/>
      <td style="width: 120px" th:text="${el.revenueDescription}"/>
      <td><a th:href="'/revenue/'+ ${el.id}">Edit</a></td>
    </tr>
    <th style="height: 60px">Total amount</th>
  </table>
  <div id="chart_div" style="margin: 0 auto; width:600px; height:500px"></div>
</div>

</body>
</html>