<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css"/>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript" type="text/javascript">
      google.charts.load('current', {'packages': ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'revenueCategory');
          data.addColumn('number', 'revenueAmount');
          var chartData = [[${chartData}]];
          console.log(chartData);
          console.log(chartData[0].revenueCategory);
          data.addRows(chartData);
          var options = {
              'width': 600,
              'height': 500,
              backgroundColor: '#6d6504'
          };
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      }
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <title>My revenue</title>
</head>
<body style="background-color: rgb(110,102,3)">
<input type="hidden" id="yourId" th:value="${revenues}">
<h1 style="color: #d04037; text-shadow: 3px 3px 3px #000; font: italic small-caps bold 60px/2 cursive; text-align: center;">My income</h1>

  <form  action="/budget" style="position: fixed; margin-left: 20px">
    <button class="button" style="background-color: #e78740; margin-top: 70px" type="submit"> My expense </button>
  </form>

  <form  action="/" style="position: fixed; margin-left: 45px">
    <button class="button" style="background-color: rgb(120,89,71)" type="submit"> Home </button>
  </form>

<form action="/revenue" method="post" enctype="multipart/form-data"><br>
  <div style="text-align: center">
    <input style="height: 30px; border-radius: 10px;  background-color: #21a881 " type="text" placeholder="revenueCategory" list="revenueCategory" name="revenueCategory"/>
    <datalist id="revenueCategory">
      <option th:each="el : ${revenueCategories}" th:value="${el}">
    </datalist>
    <input style="height: 30px; border-radius: 10px;  background-color: #21a881 " type="number" placeholder="revenueAmount" id="revenueAmount" name="revenueAmount">
    <input style="height: 30px; border-radius: 10px;  background-color: #21a881 " type="text" placeholder="revenueDescription" id="revenueDescription" name="revenueDescription">
    <button class="button" style="background-color: #c7a56c" type="submit">Add record</button>
  </div>
</form>
<br><br>
<div style="text-align: center">
  <table id='test'
         style="display: inline-block; align-content: center;  border-radius: 30px; background-color: rgb(191,87,7);width: auto; height: auto">
    <th style="height: 60px">Category</th>
    <th style="height: 60px">Date</th>
    <th style="height: 60px">Amount</th>
    <th style="height: 60px">Description</th>
    <tr style="width: 120px" th:each="el : ${revenues}">
      <td style="width: 120px" th:text="${el.revenueCategory}"/>
      <td style="width: 120px" th:text="${el.date}"/>
      <td style="width: 120px" th:text="${el.revenueAmount}"/>
      <td style="width: 200px" th:text="${el.revenueDescription}"/>
      <td  style="width: 120px" th:text="${el.username}"/>
      <td style="width: 150px"><a th:href="'/revenue/'+ ${el.id}">Edit</a></td>
    </tr>
    <th style="height: 60px">Total amount</th>
    <th th:text="${totalRevenueAmount}" style="text-shadow: 3px 3px 3px #faf9f9; font: italic small-caps bold 25px/2 cursive; text-align: center;"></th>
  </table>
  <div id="chart_div" style="margin: 0 auto; width:600px; height:500px"></div>
</div>

</body>
</html>